<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4a39d">  <td>24/03/05 06:32:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SauceLabDemo.initPages()[pri:0, instance:testcase.SauceLabDemo@54a7079e]">&gt;&gt;initPages</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@539690370</td>   <td></td> </tr>
<tr bgcolor="a970b0">  <td>24/03/05 06:32:16</td>   <td>-1370</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.testSetUp()[pri:0, instance:testcase.SauceLabDemo@54a7079e]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@539690370</td>   <td></td> </tr>
<tr bgcolor="a970b0">  <td>24/03/05 06:32:17</td>   <td>180</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.testTearDown()[pri:0, instance:testcase.SauceLabDemo@54a7079e]">&lt;&lt;testTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@539690370</td>   <td></td> </tr>
<tr bgcolor="b4a39d">  <td>24/03/05 06:32:17</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SauceLabDemo.validateLockedUser()[pri:0, instance:testcase.SauceLabDemo@54a7079e]">validateLockedUser</td> 
  <td>main@539690370</td>   <td></td> </tr>
</table>
